body{
    background-color: rgb(44, 42, 42);
    display: block;
}

.nav_panel{
    background-color:  rgb(97, 91, 91);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    
}